

html{
  margin: 0;
  padding: 0;
  height: 100%;
}

a{
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,p {
  margin-top: 0;
  margin-bottom: 0;
}

#root{
  height:100%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Inter', sans-serif;
}

.body-div{
  display:grid;
  grid-template-rows: 2fr 3fr 0.5fr;
  width:25vw;
  height: 100vh;
  background-color: #1A1B21;
  margin-top: 10%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;

}

.picture-div{
  width:100%;
  height:100%;
  
}

.picture-div > img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* About Div Start */

.about-div{
  display: grid;
  height:100%;
  grid-template-rows: 1fr 1fr 2fr 2fr;
}

.about-name-div{
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;

}

.about-name-div h3{
  width: 100%;
  font-weight: 700;
  text-align: center;
  padding-top: 8%;
}

.about-name-div h4 {
  width: 100%;
  font-weight: 200;
  text-align: center;
  color: #F3BF99;
  padding-top: 2%;
}

.about-button-div{
  display: flex;
  justify-content: center;
  
}

/* Buttons */

.email-btn{
  background-color: #fff;
  font-size: 12px;
  font-weight: 700;
  color:black;
  border-radius: 5000px;
  transition: all 0.3s;
  text-align: center;
  margin-right: 7%;
  height: 60%;
  width: 30%;
}

.email-btn:hover {
  transform: scale(1.15);

}

.linkedin-btn{
  background-color: #5093E2;
  font-size: 12px;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 5000px;
  transition: all 0.3s;
  text-align: center;
  margin-left: 7%;
  height: 60%;
  width: 30%;
}

.linkedin-btn:hover{
  transform: scale(1.15);
}

/* .email-button{
  margin-right: 2%;
  background-color: #FFFFFF;
  color: #1E1F26;
  width: 30%;
  height: 60%;
  margin-top: 2%;
  display: inline-block;
}

.linkedin-button{
  background-color: #5093E2;
  color: #FFFFFF;
  width: 30%;
  height: 60%;
  margin-top: 2%;
  display: inline-block;
} */

.about-about-div h5{
  display:flex;
  justify-content: left;
  margin-left: 5%;
  margin-right: 5%;

}

.about-about-div p{
  margin-left: 5%;
  margin-right: 5%

}

.about-interest-div h5{
    display: flex;
    justify-content: left;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
}

.about-interest-div p {
  margin-left: 5%;
  margin-right: 5%
}

/* Footer Start */

.footer-div{
  display: flex;
  background-color: #161619;
  height: 20%;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.github-btn {
  display: flex;
  background-color: #161619;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.github-btn img {
    height: 100%;
    /* padding-bottom: 2%;
    padding-top: 2%; */

    /* !!! Have to add height to div !!! */
}